<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,413},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,515},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,617},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,719},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,821},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,923},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1025},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1127},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1229},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1331},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1433},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1535},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1637},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1739},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,104},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,207},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,310},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1841},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet met zwarte rand.png</string>
            <key>size</key>
            <string>{102,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aa50f6dd3227e4c925a3d7f1407a821:53d2f6ebbf2ae4238a2753c8105fdf21:f7bef53ee1b4ae42a4a2f99cdd527d9f$</string>
            <key>textureFileName</key>
            <string>spritesheet met zwarte rand.png</string>
        </dict>
    </dict>
</plist>
