<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,403}</string>
                <key>spriteSourceSize</key>
                <string>{403,403}</string>
                <key>textureRect</key>
                <string>{{409,408},{403,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,402}</string>
                <key>spriteSourceSize</key>
                <string>{403,402}</string>
                <key>textureRect</key>
                <string>{{409,813},{403,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,403}</string>
                <key>spriteSourceSize</key>
                <string>{403,403}</string>
                <key>textureRect</key>
                <string>{{815,1},{403,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,403}</string>
                <key>spriteSourceSize</key>
                <string>{403,403}</string>
                <key>textureRect</key>
                <string>{{1220,1},{403,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,403}</string>
                <key>spriteSourceSize</key>
                <string>{404,403}</string>
                <key>textureRect</key>
                <string>{{1,815},{404,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,403}</string>
                <key>spriteSourceSize</key>
                <string>{402,403}</string>
                <key>textureRect</key>
                <string>{{1625,407},{402,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,405}</string>
                <key>spriteSourceSize</key>
                <string>{404,405}</string>
                <key>textureRect</key>
                <string>{{409,1},{404,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,403}</string>
                <key>spriteSourceSize</key>
                <string>{403,403}</string>
                <key>textureRect</key>
                <string>{{814,1212},{403,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,405}</string>
                <key>spriteSourceSize</key>
                <string>{406,405}</string>
                <key>textureRect</key>
                <string>{{1,1},{406,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,403}</string>
                <key>spriteSourceSize</key>
                <string>{403,403}</string>
                <key>textureRect</key>
                <string>{{1219,1214},{403,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,405}</string>
                <key>spriteSourceSize</key>
                <string>{406,405}</string>
                <key>textureRect</key>
                <string>{{1,408},{406,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,401}</string>
                <key>spriteSourceSize</key>
                <string>{403,401}</string>
                <key>textureRect</key>
                <string>{{1222,406},{403,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,405}</string>
                <key>spriteSourceSize</key>
                <string>{401,405}</string>
                <key>textureRect</key>
                <string>{{815,406},{401,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,402}</string>
                <key>spriteSourceSize</key>
                <string>{401,402}</string>
                <key>textureRect</key>
                <string>{{1221,811},{401,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,403}</string>
                <key>spriteSourceSize</key>
                <string>{403,403}</string>
                <key>textureRect</key>
                <string>{{1624,1214},{403,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,403}</string>
                <key>spriteSourceSize</key>
                <string>{398,403}</string>
                <key>textureRect</key>
                <string>{{1,1220},{398,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,405}</string>
                <key>spriteSourceSize</key>
                <string>{401,405}</string>
                <key>textureRect</key>
                <string>{{814,809},{401,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,405}</string>
                <key>spriteSourceSize</key>
                <string>{401,405}</string>
                <key>textureRect</key>
                <string>{{407,1217},{401,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>22220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,402}</string>
                <key>textureRect</key>
                <string>{{1625,1},{404,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheetmetzwarterand.png</string>
            <key>size</key>
            <string>{2028,1619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae0fe5e9307586f039d28a3264b57ea8:9885a8f40a2918e06b6d22be676ab7aa:2b2dab9699387da4d54cf3913d7f5b39$</string>
            <key>textureFileName</key>
            <string>spritesheetmetzwarterand.png</string>
        </dict>
    </dict>
</plist>
